* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
h1 {
    display: flex;
    font-size: 9rem;
    color: #d4f211;
    margin-left: 3rem;
}
 main{
    background-image: url(./istockphoto-846874272-2048x2048.jpg);
    width: 100vw;
    height: 100vh;

 }
.stopwatch {
    margin-left: 10rem;
}
button {
    margin: 25px;
    height: 5rem;
    width: 14rem;
    border: 1px solid white;
    border-radius: 480px;
    font-size: 4rem;
    color: white;
}

#start {
    color: #800000;
    border: 5px solid #800000;
    background-color: gray;
}
#stop {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: #09daed;
    border: 5px solid #09efe8;
    background-color: #800000;

}

#reset {
    color: gray;
    border: 5px solid gray;
    background-color: aqua;
}